<!DOCTYPE html>
<html lang="de">
<head>
  {% include 'partials/head.html.j2' %}
</head>
<body class="{% if black_and_white %}bw{% endif %}">
{% include 'partials/header.html.j2' %}
{% include 'partials/controls.html.j2' %}
<hr/>
<table class="table">
  <thead>
  <tr>
    <th class="date-cell" scope="col">
      <div>Datum</div>
    </th>
    <th class="time-cell" scope="col">
      <div>Uhrzeit</div>
    </th>
    <th class="event-cell" scope="col">
      <div>Titel/Ort</div>
    </th>
    <th class="description-cell" scope="col">
      <div>Anmerkungen</div>
    </th>
  </tr>
  </thead>
  <tbody>
  {% for day, event_list in (events|group_by_day).items() %}
    {% if (headings|length) > 0 and day >= headings[0].begin %}
      {% set event = headings.pop(0) %}
      <tr class="heading-row line">
        <th colspan="4">
          <h4>{{ event.probenplan.heading }}</h4>
          <div>{{ (event.description or "") | markdown | safe }}</div>
        </th>
      </tr>
    {% endif %}
    {% for event in event_list %}
      <tr class="{% if loop.first %}line {% endif %}">
        {% if loop.first %}
          <th rowspan="{{ event_list | length }}" scope="row" class="date-cell">
            <div class="event-date">
              {{ day | datetime('D. MMM') }}
            </div>
          </th>
        {% endif %}
        {% if event.all_day %}
          <td class="time-cell">
            <div class="event-time"><i>ganztägig</i></div>
          </td>
        {% else %}
          <td class="time-cell">
            <div class="event-time">{{ event.begin | datetime('HH:mm') }} –
              {{ event.end | datetime('HH:mm') }}</div>
          </td>
        {% endif %}
        <td valign="middle" class="event-cell">
          <div class="event">
            <div class="title">
              {% for color in event.probenplan.colors %}
                <span class="custom-color-{{ color }} dot"></span>
              {% endfor %}
              {{ event.name }}
            </div>
            <small class="location">
              {{ event | location | safe }}
            </small>
          </div>
        </td>
        <td class="description-cell">
          <div class="event-description">{{ (event.description or "") | markdown | safe }}</div>
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
</body>
</html>
