<section class="control">
  {% for highlight in highlights %}
    <span class="custom-color-{{ loop.index - 1 }} dot">{{ highlight.name }}</span>
  {% endfor %}
  <p class="print-info">
    <small>
      Um die Farben mit auszudrucken, muss beim Drucken 'Hintergrund drucken'
      ausgewählt werden.
    </small>
  </p>
</section>