<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='probenplan.css') }}">
<link rel="stylesheet" href="{{ url_for('dynamic_css') }}">
<title>Probenplan des LJO Hamburg (Stand {{ now | datetime('D.M.YYYY') }})</title>
