.dot {
  body.bw & {
    display: none;
  }

  &:before {
    content: " ";
    vertical-align: middle;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #bbb;
    margin-right: 6px;
    margin-bottom: 3px;
  }

  &.blue:before {
    background-color: deepskyblue;
  }

  &.red:before {
    background-color: salmon;
  }

  &.green:before {
    background-color: darkgreen;
  }

  &.gray:before {
    background-color: lightgray;
  }
}