section.control {
  @media screen {
    padding: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    border-radius: 5px;
  }

  small {
    @media print {
      display: none;
    }
  }

  .button, form {
    margin-bottom: 0;
  }

  form {
    @media print {
      display: none;
    }
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  input[type=checkbox] {
    margin-left: 20px;
  }

  .fill {
    flex: 1;
  }

  span {
    margin-left: 8px;
  }
}