<section class="control">
  <form method="get" action="{% url 'index' %}">
    <input class="button" type="submit" value="Filter anwenden">
    <input type="checkbox" id="all" name="all" {% if all_events %}checked{% endif %}>
    <label class="label-inline" for="all">Vergangene Termine Zeigen</label>
    <input type="checkbox" id="bw" name="bw" {% if black_and_white %}checked{% endif %}>
    <label class="label-inline" for="bw">Keine Farben anzeigen</label>
    {% if all_events %}
    {% elif from_date or to_date %}
      <span class="fill"></span>
      <span>Zeige Termine{% if from_date %} ab dem {{ from_date|date:'j.m.Y' }}{% endif %}{% if to_date %} bis zum
        {{ to_date|date:'j.m.Y' }}{% endif %}</span>
    {% endif %}
  </form>
  {% if color_descriptions %}
    <div class="legend">
      {% for color_mapping in color_descriptions %}
        <span class="{{ color_mapping.color }} dot">{{ color_mapping.description }}</span>
      {% endfor %}
      <br/><small>Um die Farben mit auszudrucken, muss beim Drucken 'Hintergrund drucken' ausgewählt werden.</small>
    </div>
  {% endif %}
</section>